header {
    background-image: linear-gradient(#CEE397,#8DB1AB);
    padding:15px;
}

main {
    background-color: #8DB1AB;
    color: white;
}

ol{
    max-width: 920px !important;
    padding: 15px 25px 15px 25px !important;
    border-style: solid;
    border-color: black;
}

footer {
    background-image: linear-gradient(#8DB1AB,#CEE397);
    padding:15px;
}